# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Editores / IDE
.vscode/
.idea/

# Temporales / sin clasificar
_temp/
